
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px; /* comment */
  color: #008000; /* purple */
  background-color: orange;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: rgb(50, 100, 150);
}

p {
  line-height: 1.5;
  text-align: justify;
}
